<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Presence - Availabilities at a Glance</title>
        <link rel="stylesheet" type="text/css" media="all" href="/css/style.css" />
        <link rel="stylesheet" href="/css/chosen.css">
    </head>

    <body>

        <div id="centered">
            <header>
                <h1>&#x21F6; Presence</h1>
            </header>

            <article>

                <div class="side">
                    <section class="teams">
                        <h2>Teams</h2>

                        <ul class="teamList">
                            {% for teamId,team in teams %}
                                <li><a href="{{ app.url_generator.generate('availabilities', {'teamId': teamId}) }}">{{ team.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </section>

                    <section class="quickhelp">

                        <h2>Quick Help</h2>

                        Example calendar entry tags and their results:

                        <p>
                            #party
                            <span class="timeSlotBubble busy">#party</span>
                        </p>

                        <p>
                            University #off
                            <span class="timeSlotBubble off">University</span>
                        </p>

                        <p>
                            @Miami<br>
                            <span style="vertical-align: baseline" class="locationIcon busy">&nbsp;&nbsp;&nbsp;&nbsp;</span>Miami
                        </p>

                        <p>
                            Hawaii #holiday
                            <span class="timeSlotBubble off">Hawaii</span>
                        </p>

                            Calendar entries that last longer than 15 minutes appear in the event list and make the morning/afternoon bubble yellow:
                        <p>
                            <span class="timeSlotBubble busy"></span>
                        </p>

                        Everything else means that the person is available and the bubble gets green:
                        <p>
                            <span class="timeSlotBubble available"></span>
                        </p>

                        <p>Read the detailed instructions <a href="{{ app.url_generator.generate("instruction") }}">here</a></p>

                    </section>
                </div>

                <section class="persons">

                    <h2>Persons</h2>

                    <select data-placeholder="Search..." id="chosen_teamofone" class="personsearch">
                        <option value=""></option>
                        {% for email, person in persons %}
                            <option value="{{ email }}">{{ person.name }}</option>
                        {% endfor %}
                    </select>

                    <ul class="personList">
                        {% for email, person in persons %}
                            <li><a href="{{ app.url_generator.generate('availabilities', {'teamId': email}) }}">{{ person.name }}</a></li>
                        {% endfor %}
                    </ul>

                </section>

            </article>
        </div>
        <script src="js/jquery.js" type="text/javascript"></script>
        <script src="js/chosen.jquery.js" type="text/javascript"></script>
        <script>
            $('#chosen_teamofone').chosen().change(function() {
            window.location = window.location.protocol + '//' + window.location.hostname + '/' + $(this).val();
            });
        </script>
    </body>
</html>
