<html>
  <head>

    <title>Team {{ team.name }} availabilities</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/projects.css" />

  </head>
  <body class="projects">
    <div class="header">
      <ul class="title">
        <li>
          <h1><a href="{{ app.url_generator.generate('homepage') }}">&#x21F6;</a> {{ team.name }} <span>&#x25BC;</span></h1>
          <ul class="teamList">
            {% for teamId, teamData in teams %}
              <li class=""><a href="{{ app.url_generator.generate('availabilities', {'teamId': teamId, 'view': weeks, 'details': showDetails, 'mode': 'projects' }) }}">{{ teamData.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>

      <div class="additionalInformation">

        {% set thisWeekParam =  (days[0] | date('Y')) ~ '-' ~ (days[0] | date('W')) %}
        {% set previousWeekParam =  (days[0] | date('Y')) ~ '-' ~ (days[0] | date('W')-1) %}
        {% set nextWeekParam =  (days[0] | date('Y')) ~ '-' ~ (days[0] | date('W')+1) %}

        <span class="infoBubble">
            Week
            <a class="weekSwitch" href="?week={{ previousWeekParam }}&view={{ weeks }}&details={{ showDetails }}&mode=projects">&#8592;</a>
            <span class="number">{{ days[0] | date('W') }}</span>
            <a class="weekSwitch" href="?week={{ nextWeekParam }}&view={{ weeks }}&details={{ showDetails }}&mode=projects">&#8594;</a>
        </span>

        <span class="infoBubble">
            Show
            <a class="weekSwitch" href="?week={{ thisWeekParam }}&view=1&details={{ showDetails }}&mode=projects">
                {% if weeks == 1 %} <span class="number">1</span> {% else %} 1 {% endif %}
            </a>
            <a class="weekSwitch" href="?week={{ thisWeekParam }}&view=2&details={{ showDetails }}&mode=projects">
                {% if weeks == 2 %} <span class="number">2</span> {% else %} 2 {% endif %}
            </a>
            <a class="weekSwitch" href="?week={{ thisWeekParam }}&view=4&details={{ showDetails }}&mode=projects">
                {% if weeks == 4 %} <span class="number">4</span> {% else %} 4 {% endif %}
            </a>
            week(s)
        </span>

        <span class="infoBubble">
            Mode
            <a class="weekSwitch" href="?week={{ thisWeekParam }}&view={{ weeks }}&details={{ showDetails }}&mode=availability">
                {% if projectsMode %}
                    availability
                {% else %}
                    <span class="number">availability</span>
                {% endif %}
            </a>
            /
            <a class="weekSwitch" href="?week={{ thisWeekParam }}&view={{ weeks }}&details={{ showDetails }}&mode=projects">
                {% if projectsMode %}
                    <span class="number">projects</span>
                {% else %}
                    projects
                {% endif %}
            </a>
        </span>

        <span class="infoBubble">
            <a class="weekSwitch" href="?week={{ thisWeekParam }}&view={{ weeks }}&details={{ showDetails }}&mode=projects&refresh=all">Refresh</a>
        </span>

        <br class="hack" />

      </div>
      <div class="clearDiv"></div>

    </div>
    <ul id="calendar" class="fixed">
      <li class="header fixed">
        <div class="rowTitle">
          <h2>Person</h2>
        </div>
        <ul class="days">
            {% if (weeks == 2)  %}
                {% set weekClass = 'two-weeks'  %}
            {% endif %}
            {% if (weeks == 4)  %}
                {% set weekClass = 'four-weeks'  %}
            {% endif %}
          {% for day in days %}
              {% if (day | date('l') == 'Monday') %}
                {% set mondayClass = 'monday' %}
              {% else %}
                  {% set mondayClass = '' %}
              {% endif %}
            <li class="day fixed {{ weekClass }} {{ mondayClass }}">
              {% if (day | date('l') == 'Monday') %}
                  <span class="week">{{ day | date('W - F - Y' )}}</span>
              {% endif %}
              <h3 class="dayNumber">{{ day | date('d') }}</h3>
              <hr/>
              <span class="dayName">{{ day | date('D' )}}</span>
            </li>
          {% endfor %}
        </ul>
      </li>
      {% for member in team.members %}
        <li class="person fixed">
          <div class="rowTitle">
            <h2>{{ member.name }}</h2>
          </div>
          <ul class="days">
            {% if member.hasError is sameas(false) %}
              {% for day in days %}
                  {% if (day | date('l') == 'Monday') %}
                      {% set mondayClass = 'monday' %}
                  {% else %}
                      {% set mondayClass = '' %}
                  {% endif %}
                <li class="day {{ weekClass }} {{ mondayClass }}">

                  <span class="timeSlotBubble morning {{ member.timeSlotByDate('morning', day).class }}"
                          title="{{ member.timeSlotByDate('morning', day).class }}">
                    {{ member.timeSlotByDate('morning', day).title }}
                  </span>

                  {% if not (member.timeSlotByDate('morning', day).class is sameas('off') and member.timeSlotByDate('afternoon', day).class is sameas('off')) %}
                    <span class="timeSlotBubble afternoon {{ member.timeSlotByDate('afternoon', day).class }}"
                            title="{{ member.timeSlotByDate('afternoon', day).class }}">
                      {{ member.timeSlotByDate('afternoon', day).title }}
                    </span>
                  {% else %}
                    <span class="timeSlotBubble afternoon hidden"></span>
                  {% endif %}
                </li>
              {% endfor %}
            {% else %}
              <li class="day fullWidth error">
                Unable to read the calendar <strong>{{ member.id }}</strong>. Please allow <strong>{{ serviceAccountEmail }}</strong> to view the events of this calendar.
                <br /><br />
                <a href="http://support.google.com/calendar/answer/143754?hl=en" target="_blank">Click here for instructions on doing that with Google Calendar</a> (Opens in new tab...)
                <br /><br />
                You can try again by pressing <a href="{{ app.url_generator.generate('availabilities', {'teamId': team.id, 'refresh': member.id }) }}">here</a>
              </li>
            {% endif %}
          </ul>
        </li>
      {% endfor %}
      <li class="summary">
        <div class="rowTitle">
          <h2>Summary</h2>
         </div>
        <div class="result"></div>
      </li>
    </ul>
  </body>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/projects.js"></script>
</html>
